[Unit]
Description=Run ideascube clean leftover-files weekly and on boot

[Timer]
OnBootSec=10min
OnUnitActiveSec=1w

[Install]
WantedBy=timers.target
