127.0.0.1   localhost.localdomain localhost
127.0.1.1	{{ cert_domain }} {{ fqdn }} {{ kiwix_fqdn }} {{ kalite_fqdn }} {{ aflatoun_fqdn }} {{ edupi_fqdn }} fr.{{ wikifundi_fqdn }} en.{{ wikifundi_fqdn }} {{ sites_fqdn }} {{ hostname }} {{ kiwix_server_name }} {{ kalite_server_name }} {{ aflatoun_server_name }} {{ edupi_server_name }} fr.{{ wikifundi_server_name }} en.{{ wikifundi_server_name }} {{ sites_server_name }}
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
