__pycache__
dist
build
venv
archive
launch.sh
.cache
.pytest_cache
$HOME
pibox-installer-vexpress-boot.zip
pibox-installer-vexpress-boot
pygi-aio-setup.exe
pygi-aio-setup
qemu-*
qemu-*.tar.gz
qemu-*.tar
qemu
qemu-img
qemu-system-arm
xz-*.tar.gz
xz-*
