dbus-python==1.2.4
xlib==0.21
tzlocal==1.5.1
paramiko==2.4.2
pytz==2018.7
PyYAML==4.2b4
iso-639==0.4.5
path.py==11.5.0
psutil==5.4.8
humanfriendly==4.17
requests==2.20.1
requests[socks]==2.20.1
scandir==1.9.0
Jinja2==2.10
