---
- name: Install conntrack
  apt:
    name: "{{item}}"
    state: latest
    autoremove: yes
    autoclean: yes
  with_items:
    - conntrack
    - uwsgi-plugin-python
  tags: master

- name: Copy connectivity check script
  copy:
    src: connectivity-check
    dest: /usr/local/bin/connectivity-check
    owner: root
    group: root
    mode: 0755
  tags: master

- name: Create /var/www/captiveportal folder
  file:
    path: /var/www/captiveportal
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755
    state: directory
  tags: master
  
- name: Copy captive portal script to /var/www/captiveportal
  template:
    src: cap.py.j2
    dest: /var/www/captiveportal/cap.py
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755
  notify: restart uwsgi
  tags: ['master', 'rename']

- name: Add nginx specific configuration file
  template:
    src: nginx.vhost.j2
    dest: /etc/nginx/sites-available/captiveportal
    owner: root
    group: root
    mode: 0644
  tags: master

- name: Enable captive portal vhost
  file:
    src: /etc/nginx/sites-available/captiveportal
    dest: /etc/nginx/sites-enabled/captiveportal
    state: link
  notify: restart nginx
  tags: master

- name: Start dnsmasq-spoof.conf file by default - forcing short TTL
  lineinfile: 
    dest: /etc/default/dnsmasq
    regexp: 'DNSMASQ_OPTS='
    line: 'DNSMASQ_OPTS="--conf-file=/etc/dnsmasq-spoof.conf --local-ttl=300"'
    state: present
  tags: master
              
- name: Create /etc/nginx/ssl folder
  file:
    path: /etc/nginx/ssl
    owner: root
    group: root
    mode: 0644
    state: directory
  tags: master

- name: prepare CSR
  template:
    src: csr.conf
    dest: /tmp/csr.conf
  tags: ['master', 'rename']

- name: Create Certificate Signing Request
  command: openssl req -config /tmp/csr.conf -new -x509 -newkey rsa:2048 -nodes -keyout /etc/nginx/ssl/hotspot.key -days 3650 -out /etc/nginx/ssl/hotspot.crt -batch
  tags: ['master', 'rename']

- name: Add UWSGI specific configuration file
  template:
    src: captive.ini.j2
    dest: /etc/uwsgi/apps-available/captive.ini
    owner: root
    group: root
    mode: 0644
  tags: master

- name: Enable captive.ini for UWSGI
  file:
    src: /etc/uwsgi/apps-available/captive.ini
    dest: /etc/uwsgi/apps-enabled/captive.ini
    state: link
  notify: restart uwsgi
  tags: master

- name: Copy Systemd script to set /etc/default/dnsmasq default options
  copy:
    src: clean-up.service
    dest: /etc/systemd/system/clean-up.service
  tags: master

- name: enable clean-up
  service:
    name: clean-up
    enabled: yes
  tags: master

- name: Copy shell script that actually does the job
  copy:
    src: clean-up-dnsmasq.sh
    dest: /usr/local/bin/clean-up-dnsmasq.sh
    owner: root
    group: root
    mode: 0755
  tags: master

- name: Copy pibox-mode-switcher script
  copy:
    src: pibox-mode-switcher
    dest: /usr/local/bin/pibox-mode-switcher
    mode: 0755
  tags: master

- name: Add a cron entry to check connectivity
  cron:
    name: "Check connectivity status"
    minute: "*/5"
    job: "/usr/local/bin/pibox-mode-switcher"
    state: present
  tags: master

- name: Add reboot cron entry for connectivity check
  cron:
    name: "Check connectivity status uppon startup"
    special_time: reboot
    job: "/usr/local/bin/pibox-mode-switcher"
    state: present
  tags: master

- name: Copy clean_iptables.sh to /usr/local/bin
  copy:
    src: clean_iptables.sh
    dest: /usr/local/bin/clean_iptables.sh
    owner: root
    group: root
    mode: 0755
  tags: master

- name: Add a cron entry to clean iptables rules
  cron:
    name: "Clear dead connections from CAPTIVE_PASSLIST"
    minute: "*/15"
    job: "/usr/local/bin/clean_iptables.sh"
    state: present
  tags: master

- name: Load current IPtables configuration
  shell: /etc/network/if-up.d/iptables
  tags: master

- name: Create iptables empty chains
  command: "{{item}}"
  with_items:
    - /sbin/iptables -t nat -N CAPTIVE_HTTP
    - /sbin/iptables -t nat -N CAPTIVE_HTTPS
    - /sbin/iptables -t nat -N CAPTIVE_PASSLIST
  tags: master
  ignore_errors: yes

- name: Send to CAPTIVE_HTTP if destination *:80/tcp
  command: iptables -t nat -A PREROUTING -p tcp -m tcp ! -s "{{ hotspot_ip }}" ! -d "{{ hotspot_ip }}" --dport 80 -j CAPTIVE_HTTP
  tags: master

- name: Send to CAPTIVE_HTTPS if destination *:443/tcp
  command: iptables -t nat -A PREROUTING -p tcp -m tcp ! -s "{{ hotspot_ip }}" ! -d "{{ hotspot_ip }}" --dport 443 -j CAPTIVE_HTTPS
  tags: master

- name: From CAPTIVE_HTTP, send to CAPTIVE_PASSLIST
  iptables:
    table: nat
    chain: CAPTIVE_HTTP
    protocol: tcp
    jump: CAPTIVE_PASSLIST
  tags: master

- name: From CAPTIVE_HTTPS, send to CAPTIVE_PASSLIST
  iptables:
    table: nat
    chain: CAPTIVE_HTTPS
    protocol: tcp
    jump: CAPTIVE_PASSLIST
  tags: master

- name: DNAT HTTP to hotspot_ip:80
  iptables:
    table: nat
    chain: CAPTIVE_HTTP
    protocol: tcp
    jump: DNAT
    to_destination: "{{ hotspot_ip }}:80"
    comment: Redirect HTTP traffic to server port 80
  tags: master

- name: DNAT HTTPS to hotspot_ip:443
  iptables:
    table: nat
    chain: CAPTIVE_HTTPS
    protocol: tcp
    jump: DNAT
    to_destination: "{{ hotspot_ip }}:443"
    comment: Redirect HTTPS traffic to server port 443
  tags: master

- name: Last CAPTIVE_PASSLIST rules RETURN to calling chain
  iptables:
    table: nat
    chain: CAPTIVE_PASSLIST
    protocol: tcp
    jump: RETURN
  tags: master

- name: Overwrite /etc/iptables.rules to include new rules
  shell: /sbin/iptables-save > /etc/iptables.rules
  tags: master
