<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Africatik - Applications éducatives pour l'Afrique</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="icon" href="/static/favicon.png">
<!-- Main css -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- PRE LOADER -->
<!-- Navigation section  -->
<!-- Home Section -->
<section id="home">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-sm-12">
<h2><b><img src="/static/images/logo.png" width="200" height="52" alt="Applications éducatives pour l'Afrique">&ensp;des applications éducatives pour l’Afrique</b></h2>
                    <p>Africatik propose des <b>découvertes, des exercices et des jeux</b> dans de nombreuses disciplines de la maternelle au primaire.
                    Le bouquet favorise l’enseignement dans les <b>langues nationales</b>. La plupart des applications sont <b>multilingues</b> : français, anglais, kikongo, lingala, swahili, tshiluba, etc... <br>
                    Africatik permet <b>la manipulation et l'expérimentation</b> :
                    <br><br>
                    &bull;Apprendre à compter en manipulant des billets ou des collections.<br>
                    &bull;Apprendre à lire en écoutant, racontant et lisant de nouvelles histoires.<br>
                    &bull;Observer, expérimenter, apprendre les sciences en visualisant.</p>
               </div>

          </div>
     </div>
</section>

<!-- Portfolio Section -->
     <div class="container">
          <div class="row">
<div class="container">
      <div class="row">
           <div class="col-sm-4">
      <img src="/static/images/makuta.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/makuta_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/makuta-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>
 </div>
 <div class="col-sm-4">
      <img src="/static/images/kinzazi.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/Eveil-électricité_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/Eveil-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>
 </div>
 <div class="col-sm-4">
      <img src="/static/images/tanga.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/tanga_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/tanga-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>
 </div>
 <div class="col-sm-4">
      <img src="/static/images/chenza.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/chenza_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/chenza-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/bongo.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/bongo_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/Bongo-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/mutuka.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/mutuka_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/Mutuka-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/chimie.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/lesMelanges_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/lesmelanges-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/ctivexxam.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/ActivExam_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
      </div>

 </div>
  <div class="col-sm-4">
      <img src="/static/images/mutshi_primaire.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/mutshiPrimaire_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/mutshiprimaire-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>

  <div class="col-sm-4">
      <img src="/static/images/mutshi_maternelle.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/mutshiMaternelle_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/mutshimaternelle-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/kinpuzzle.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/kinPuzzle2_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/KinPuzzle2-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/anatomie.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/anatomie_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/Anatomie-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/geographie.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/geographie_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/geographie-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/bimuma.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/bimuma_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/Bimuma-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
 <div class="col-sm-4">
      <img src="/static/images/jdl.jpg" width="500" height="500"  class="img-responsive" alt="Portfolio">
      <div class="text-center">
                             <a href="/download/android/jeuDelettres_app.apk"><button type="button" class="btn btn-secondary">Télécharger pour Android</button><br></a>
                             <a href="/download/windows/Jeudelettres-1.0.0 Setup.exe"><button type="button" class="btn btn-secondary">Télécharger pour Windows</button></a>
      </div>

 </div>
               <div class="col-md-12 col-sm-12 text-left">
                    <h2><b>Comment utiliser ?</h2></b>
                              <p>1. Choisissez la langue et les options.<br>
                              2. Sélectionnez le niveau.<br>
                              3. Cliquez sur le menu pour démarrer une partie et c’est lancé !<br></p>
                              <h2><b>Comment installer ?</h2></b>
                              <p>Ces applications peuvent être utilisées sur Androïd (Téléphone ou Tablette) et sur PC (Télécharger Windows).<br>
                              1. Cliquez sur le bouton téléchargement Androïd ou Windows pour le téléchargement du fichier d’installation
                              (Fichier APK pour Androïd ou Fichier EXE pour Windows).<br>
                              2. Lancez ensuite depuis votre navigateur s’il vous le propose ou depuis l’application Fichier de votre appareil.
                              Dans ce cas, il se trouvera dans le dossier Téléchargements.<br>
                              3. En le lançant, suivez les instructions d’installation affichées à l’écran.<br>
                              4. C’est fini, l’application choisie est installée à côté des autres applications.<br>
               </p></div>

          </div>
     </div>
</section>
<!-- Footer Section -->
<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-3 col-sm-3">
               </div>

               <div class="col-md-4 col-sm-4">
               </div>

               <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3"></div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-6 col-sm-6">
                    <div class="footer-copyright">
                         <p>© 2020 Africatik, des applications éducatives pour l’Afrique</p>
                    </div>
               </div>
               <div class="col-md-6 col-sm-6">
                    <ul class="social-icon"> 
                    </ul>
               </div>
          </div>
     </div>
</footer>
<!-- SCRIPTS -->
</body>
</html>
