server {
    listen  80;
    server_name {{ africatik_fqdn }} {{ africatik_server_name }};
    root {{ africatik_root }};

    location /download/ { alias {{ africatik_content_path }}/; }

    location /hotspot-static/ { alias {{ common_static_path }}/; expires 1y; }
    location /502.html { internal; root /var/www; }
    error_page 502 /502.html;
}
