server {
    server_name {{ item.fqdn }};

    location / {
        return 404;
    }

    location /hotspot-static/ { alias {{ common_static_path }}/; expires 1y; }
    location /404.html { internal; root /var/www; }
    error_page 404 /404.html;
}
