server {
    listen       80;
    listen 443;
    ssl_certificate /etc/nginx/ssl/hotspot.crt;
    ssl_certificate_key /etc/nginx/ssl/hotspot.key;

    server_name {{ welcome_fqdn }};
    return 301 http://{{ fqdn }};
}
