1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION VERSION_TUPLE,0,0
FILEOS VOS_UNKNOWN
FILETYPE VFT_APP
{
BLOCK "StringFileInfo"
{
    BLOCK "040904B0"
    {
        VALUE "CompanyName", "Kiwix"
        VALUE "FileDescription", "Kiwix Hotspot"
        VALUE "FileVersion", "1.0.0.0"
        VALUE "InternalName", "kiwix-hotspot.exe"
        VALUE "LegalCopyright", "Association Kiwix"
        VALUE "OriginalFilename", "kiwix-hotspot.exe"
        VALUE "ProductName", "Kiwix Hotspot"
        VALUE "ProductVersion", "VERSION_STR"
    }
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409 1200
}
}
