VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,0,0,0
    PRODUCTVERSION VERSION_TUPLE,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "Kiwix\0"
            VALUE "FileDescription",    "Kiwix-plug installer\0"
            VALUE "FileVersion",        "1.0.0.0\0"
            VALUE "LegalCopyright",     "Association Kiwix\0"
            VALUE "OriginalFilename",   "kiwix-plug_installer.exe\0"
            VALUE "ProductName",        "Kiwix-plug installer\0"
            VALUE "ProductVersion",     "VERSION_STR\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
