# NGINX configuration for KA Lite
#
# Upstream KA-Lite server uses port 8008
#
# If you want the website to be accessible at a different port, change
#  PROXY_PORT = nnnn setting in {{ kalite_root }}/settings.py
# and change the below accordingly.

server {

    listen 80;
    server_name {{ kalite_fqdn }} {{ kalite_server_name }};

    # Default value, overwritten in nginx.d
    set $kalite_home {{ kalite_root }}/;
    include /etc/ka-lite/nginx.d/*.conf;

    location /static {
        alias   $kalite_home/httpsrv/static/;
    }

    location /media {
        alias   $kalite_home/httpsrv/media/;
    }

    location /content {
        alias   $kalite_home/content/;
    }

    location /content/khan {
        alias   /usr/share/kalite/assessment/khan/;
    }

    location /favicon.ico {
        empty_gif;
    }

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://localhost:8008;
    }

    location /ideascube-static/ { alias /var/ideascube/static/; expires 1y; }
    location /502.html { internal; root /var/www; }
    error_page 502 /502.html;
}
