server {
    listen  80;
    server_name {{ fqdn }} {{ hostname }};
    root /var/www/home;

    location /hotspot-static/ { alias {{ common_static_path }}/; expires 1y; }
    location /502.html { internal; root /var/www; }
    error_page 502 /502.html;
}
