<?php
# General
$wgLanguageCode     = "{{ item }}";
$wgSitename         = "WikiFundi";
# Site language 
$wgLanguageCode = "{{ item }}";
$wgUploadWizardConfig['uwLanguages'] = array( '{{ item }}' => '{% if item == "fr" %}French{% else %}English{% endif %}' );
# Database settings
$wgDBtype        = "sqlite";
$wgDBserver      = "";
$wgDBname        = "mw_wikifundi_{{ item }}";
$wgDBuser        = "";
$wgDBpassword    = "";
$wgSQLiteDataDir = "{{ wikifundi_data_root }}/";
# Custom logo
$wgLogo = "/logo.png";
# Uploads
ini_set('memory_limit', '512M');
ini_set('post_max_size', '5M');
ini_set('upload_max_filesize', '5M');
$wgMaxUploadSize = 1024*1024*5;

$wgVirtualRestConfig['modules']['parsoid'] = array(
                           'url' => 'http://localhost:8000',
                           'domain' => '{{ item }}.{{ wikifundi_fqdn }}',
                           'prefix' => 'mediawiki_kiwix',
                           'forwardCookies' => true
                           );

$wgUploadPath       = "$wgScriptPath/images";
$wgUploadDirectory  = "{{ wikifundi_data_root }}/images_{{ item }}";
?>
