[Unit]
Description=Parsoid server

[Service]
WorkingDirectory={{ parsoid_root }}
ExecStart=/usr/local/bin/node bin/server.js
Restart=always
TimeoutStopSec=60
PIDFile=/var/run/parsoid.pid
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

# MAINTENANCE
# rm -rf {{ wikifundi_data_root }}/locks
# maintenance/update.php --quick > {{ wikifundi_data_root }}/mw_update.log
