server {
    listen      80;
    listen      [::]:80;

    server_name {{ item }}.{{ wikifundi_fqdn }} {{ item }}.{{ wikifundi_server_name }};
    root        {{ wikifundi_root }};
    # access_log  /var/log/nginx/access.log;
    # error_log   /var/log/nginx/error.log;

    client_max_body_size 200m;
    client_body_timeout 300;

    # image shortcut
    location /w/images {
        alias {{ wikifundi_data_root }}/images_{{ item }};
    }

    # Mediawiki redirections
    location / {
        index index.html index.php index.php5;
        rewrite ^/wiki/(.*)$ /w/index.php?title=$1&$args;
        rewrite ^/([^/\.]*)$ /wiki/$1 redirect;
        proxy_connect_timeout       600;
        proxy_send_timeout          600;
        proxy_read_timeout          600;
        send_timeout                600;
    }

    # PHP handler
    location ~ ^(?!.*/images/).*\.(php|hh) {
        fastcgi_keep_conn        on;
        fastcgi_pass             php;
        fastcgi_index            index.php;
        fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include                  fastcgi_params;
        fastcgi_split_path_info  ^(.+\.php?)(/.+)$;
        fastcgi_param            PATH_INFO $fastcgi_path_info;
        fastcgi_param            SERVER_SOFTWARE nginx;
        fastcgi_param            REQUEST_URI $request_uri;
        fastcgi_param            QUERY_STRING $query_string;
        fastcgi_intercept_errors on;
        fastcgi_param            HTTP_ACCEPT_ENCODING      ""; # Safari has a problem here
        fastcgi_read_timeout     600; # file uploads might take long to process (thumbnail creation)
        fastcgi_send_timeout     600; # file uploads still
        # set the language so the proper config file gets included
        fastcgi_param            WIKIFUNDI_LANG "{{ item }}";
    }

    # Force caching images
    location ~ ^/[^w].*\.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
        expires 10d;
    }

    location /ideascube-static/ { alias /var/ideascube/static/; expires 1y; }
    location /502.html { internal; root /var/www; }
    error_page 502 /502.html;
}
