<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Nomad Education</title>
        <link rel="icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/hotspot-static/font-awesome/css/font-awesome.min.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="/hotspot-static/purecss/pure-css-grids-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" type="text/css" href="/hotspot-static/purecss/pure-css-grids-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="/hotspot-static/main.css" />
        <link rel="stylesheet" type="text/css" href="/hotspot-static/branding/style.css" />
        <style type="text/css">
            .global-page-header {
                background: linear-gradient(to bottom,#f38649 0%,#c15843 100%);
                background-size: auto;
                background-size: 100% 100%;
                position: relative;
                color: #fff;
            }
            .center {
                text-align: center;
            }
            .app-icon {
                float: right;
                max-width: 100px;
            }
            .button {
                background-color: #f38649;
            }
            ol, ul { list-style: decimal; }
            header {
                margin-bottom: 0;
            }
        </style>
    </head>
    <body class="">
        <header class="global-page-header">
            <section><a href="http://{{ fqdn }}/" title="retour à {{ project_name }}"><h1><img src="/static/logo_baseline.png"></img></h1></a></section>
        </header>
        <div class="content">
            <p class="center"><a href="/download/ecoles_numeriques.apk" class="button">Télécharger l'appli Android <strong>Primaire</strong></a></p>
            <p class="center"><a href="/download/ecoles_numeriques_college.apk" class="button">Télécharger l'appli Android <strong>Collège</strong></a></p>
            <div class="row">
                <div class="col half">
                    <h2>Qu'est ce que c'est ?</h2>
                    <p><em>Écoles Numériques</em>, c'est deux applications Android (pour téléphone ou tablette) réalisées par <em>Nomad Education</em>.</p>
                    <p>Ces applications proposent des quizz et des mini-cours dans toutes les matières, du CP au CM2 pour la première et de la 6<sup>è</sup> à la 3<sup>è</sup> pour la version collège.</p>
                    <p>Pratique pour réviser en s'amusant !</p>
                </div>
                <div class="col half">
                    <img src="/static/screen-app.png"></img>
                </div>
            </div>
            <h2>Comment les installer ?</h2>
            <p>Concrairement aux autres contenus de <em>{{ project_name }}</em>, ces outils ne s'utilisent pas en ligne mais doivent être installés sur votre appareil Android (tablette ou téléphone).</p>
            <ol>
                <li>Cliquez sur le bouton de téléchargement en haut de cette page pour télécharger le fichier d'installation (fichier APK).</li>
                <li>Lancez-le ensuite depuis votre navigateur s'il vous le propose ou depuis l'application <em>Fichiers</em> de votre appareil. Dans ce cas, il se trouvera dans le dossier <em>Téléchargements</em>.</li>
                <li>En le lançant, suivez les instructions d'installation affichées à l'écran.</li>
                <li>C'est fini, l'application <em>Écoles Numériques</em> est désormais accessible à coté des autres applications.</li>
            </ol>
        </div>
    </body>
</html>
