<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Math Mathews</title>
        <link rel="icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/hotspot-static/font-awesome/css/font-awesome.min.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="/hotspot-static/purecss/pure-css-grids-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" type="text/css" href="/hotspot-static/purecss/pure-css-grids-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="/hotspot-static/main.css" />
        <link rel="stylesheet" type="text/css" href="/hotspot-static/branding/style.css" />
        <style type="text/css">
            body {
                background-color: #f8f3e6;
            }
            .global-page-header {
                background: linear-gradient(to top,#fec8c8,#8ea7ea);
                background-size: auto;
                background-size: 100% 100%;
                position: relative;
                color: #fff;
            }
            .center {
                text-align: center;
            }
            .app-icon {
                float: right;
                max-width: 100px;
            }
            .button {
                padding: .5rem;
                height: unset;
                background-color: #382e32;
                line-height: 30px;
                min-height: 30px;

            }
            .screenshot {
                max-height: 15rem;
            }
            ol, ul { list-style: decimal; }
            header {
                margin-bottom: 0;
            }
        </style>
    </head>
    <body class="">
        <header class="global-page-header">
            <section><a href="http://{{ fqdn }}/" title="retour à {{ project_name }}"><h1><img src="/static/logo_baseline.png"></img></h1></a></section>
        </header>
        <div class="content">
            <p class="center"><a href="/download/math_mathews.apk" class="button">Télécharger l'appli Android <strong>Math&nbsp;Mathews</strong> v{{ mathews_version }}</a></p>

            <h2>Un jeu pour s’entraîner au calcul mental</h2>
            <p>«&nbsp;Math Mathews&nbsp;» permet aux enfants de s’entraîner de façon ludique au calcul mental (additions et soustractions).<br>Dans ce jeu, les phases de réflexion (trouver le résultat d’une addition ou soustraction, résoudre une opération à trou) alternent avec les phases de jeu (collecter des pièces et des trésors).</p>

            <p class="center"><img class="screenshot" src="/static/screen-app.png"></img></p>

            <h2>Comment l'utiliser ?</h2>
            <img class="app-icon" src="/static/app-icon.png"></img>
            <p>L'utilisation est particulièrement simple ; lancez l'installation sur votre appereil Android puis :</p>
            <ol>
                <li>Choisissez «Jouer»</li>
                <li>Cliquez sur le «+» pour créer votre personnage et renseignez son nom de pirate</li>
                <li>Choisissez «Jouer» à nouveau</li>
            </ol>
            <h2>Comment l'installer ?</h2>
            <p>Concrairement aux autres contenus de <em>{{ project_name }}</em>, cet outil ne s'utilise pas en ligne mais doit être installé sur votre appareil Android (tablette ou téléphone).</p>
            <ol>
                <li>Cliquez sur le bouton de téléchargement en haut de cette page pour télécharger le fichier d'installation (fichier APK).</li>
                <li>Lancez-le ensuite depuis votre navigateur s'il vous le propose ou depuis l'application <em>Fichiers</em> de votre appareil. Dans ce cas, il se trouvera dans le dossier <em>Téléchargements</em>.</li>
                <li>En le lançant, suivez les instructions d'installation affichées à l'écran.</li>
                <li>C'est fini, l'application <em>Math Mathews</em> est désormais accessible à coté des autres applications.</li>
            </ol>
        </div>
    </body>
</html>
