---
- import_tasks: clean_apt.yml
  tags: setup

- name: Get nodejs repository installer
  get_url:
    url: https://deb.nodesource.com/setup_10.x
    dest: /tmp/setup_10.x
    mode: 0755
  tags: setup

- name: Run nodejs repository installer
  command: /tmp/setup_10.x
  tags: setup

- name: Install nodejs
  environment:
    RUNLEVEL: 1
  apt:
    name: nodejs
    state: latest
    autoremove: yes
    autoclean: yes
  tags: setup

- name: Install dependencies (tex, for MathRenderer)
  apt:
    name: texlive,texlive-fonts-recommended,texlive-lang-greek,texlive-latex-recommended,texlive-latex-extra,build-essential,dvipng,ocaml,cjk-latex
    state: latest
    autoremove: yes
    autoclean: yes
  tags: setup

- import_tasks: clean_apt.yml
  tags: setup

- name: Install dependencies (PHP)
  environment:
    RUNLEVEL: 1
  apt:
    name: php{{ php_version }}-fpm,php{{ php_version }}-sqlite3,php{{ php_version }}-intl,php{{ php_version }}-mbstring,php{{ php_version }}-xml,php{{ php_version }}-curl
    state: latest
    autoremove: yes
    autoclean: yes
  tags: setup

- include_tasks: disable_service.yml service=php{{ php_version }}-fpm
  tags: setup

- name: change PHP7 settings to allow file uploads up to 5MiB
  copy:
    src: 90-wikifundi.ini
    dest: /etc/php/{{ php_version }}/fpm/conf.d/90-wikifundi.ini
  tags: setup

- import_tasks: clean_apt.yml
  tags: setup

- name: Install dependencies (others)
  environment:
    RUNLEVEL: 1
  apt:
    name: git,vim,unzip,imagemagick,libicu-dev,ffmpeg,librsvg2-bin,poppler-utils,memcached,redis-server,lua5.1,python3,locales
    state: latest
    autoremove: yes
    autoclean: yes
  tags: setup

- include_tasks: disable_service.yml service=memcached
  tags: setup

- include_tasks: disable_service.yml service=redis-server
  tags: setup

- import_tasks: clean_apt.yml
  tags: setup

# locale en_US.UTF-8 already installed on system role

- name: hack to avoid thumbs generation error for PDF with errors
  shell: mv /usr/bin/gs /usr/bin/gs9-20 ; echo '/usr/bin/gs9-20 -sstdout=%stderr $@' > /usr/bin/gs ; chmod a+x /usr/bin/gs
  tags: setup

- name: make sure directories exists
  file:
    dest: "{{ item }}"
    state: directory
  with_items:
    - "{{ wikifundi_root }}"
    - "{{ mediawiki_root }}"
    - "{{ parsoid_root }}"
  tags: setup

- name: download mediawiki
  get_url:
    url: "{{ mirror }}/dev/mediawiki-1.31.0-rc.0__with-extensions.tar.gz"
    dest: /tmp/mediawiki.tar.gz
  tags: setup

- name: extract mediawiki
  command: tar -C {{ mediawiki_root }} -xz --strip-components=1 -f /tmp/mediawiki.tar.gz
  tags: setup

- name: change ownership of folders
  file:
    path: "{{ mediawiki_root }}/{{ item }}"
    owner: www-data
    group: www-data
    state: directory
    recurse: yes
  with_items:
    - skins
    - cache
  tags: setup

- name: download parsoid
  unarchive:
    remote_src: yes
    src: "{{ mirror }}/dev/parsoid_0.9.0.tar.gz"
    dest: "{{ parsoid_root }}"
  tags: setup

- name: downgrade npm first
  command: npm install -g npm@4
  tags: setup

- name: install node dependencies for parsoid
  command: npm install
  args:
    chdir: "{{ parsoid_root }}"
  ignore_errors: yes
  tags: setup

- name: clean npm cache
  command: npm cache clean -f
  args:
    chdir: "{{ mediawiki_root }}"
  tags: setup

- name: install n for parsoid
  command: npm install -g n
  args:
    chdir: "{{ mediawiki_root }}"
  tags: setup

- name: upgrade npm back
  command: npm install -g npm
  tags: setup

- name: updating node to lastest stable
  command: n stable
  args:
    chdir: "{{ mediawiki_root }}"
  tags: setup

- name: download composer
  get_url:
    url: "{{ mirror }}/dev/composer_1.6.5.phar"
    dest: "{{ mediawiki_root }}/composer.phar"
  tags: setup

- name: copy our composer config
  copy:
    src: composer.json
    dest: "{{ mediawiki_root }}/composer.json"
  tags: setup

- name: install composer
  command: php composer.phar update --no-dev
  args:
    chdir: "{{ mediawiki_root }}"
  tags: setup

- name: clean Math extensions
  command: make -C extensions/Math/{{ item }} clean all
  args:
    chdir: "{{ mediawiki_root }}"
  with_items:
    - math
    - texvccheck
  tags: setup

- name: fix math extension paths
  replace:
    name: "{{ mediawiki_root }}/extensions/Math/math/render.ml"
    regexp: '"{{ item }} '
    replace: '"/usr/bin/{{ item }} '
  with_items:
    - latex
    - dvips
    - convert
    - dvipng
  tags: setup

- name: fix permission on folder
  file:
    path: "{{ mediawiki_root }}/extensions"
    owner: www-data
    group: www-data
    state: directory
    recurse: yes
  tags: setup

- name: Copy image assets
  copy:
    src: "{{ item }}"
    dest: "{{ wikifundi_root }}/{{ item }}"
  with_items:
    - cc-by-sa.png
    - A_WikiAfrica_project.png
    - favicon.ico
    - logo.png
    - logo-sq.png
  tags: setup

- name: copy php conf for nginx
  template:
    src: php.conf.j2
    dest: /etc/nginx/conf.d/php.conf
  tags: setup

# Configuration files
- name: set mediawiki main config file
  copy:
    src: LocalSettings.php
    dest: "{{ mediawiki_root }}/LocalSettings.php"
  tags: setup

- name: copy blank debug and mirroring config files
  copy:
    src: empty.php
    dest: "{{ mediawiki_root }}/LocalSettings.{{ item }}.php"
  with_items:
    - debug
    - mirroring
  tags: setup

- name: set parsoid config
  template:
    src: config.yaml.j2
    dest: "{{ parsoid_root }}/config.yaml"
  tags: ['setup', 'rename']

- name: Setup parsoid service
  template:
    src: parsoid.service.j2
    dest: /etc/systemd/system/parsoid.service
  notify: reload systemd
  tags: setup

