server {

    # Captive portal responding all non-specified names
    listen    80 default_server;
    listen    [::]:80 default_server;
    listen    443 ssl default_server;

    # SSL certificate only used to allow forwarding of HTTPS requests. 
    ssl_certificate /etc/nginx/ssl/hotspot.crt;
    ssl_certificate_key /etc/nginx/ssl/hotspot.key;
    keepalive_timeout 0;

    location / {
        expires 0;
        add_header Cache-Control no-store;
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:3031;
    }

    location /hotspot-static/ { alias {{ common_static_path }}/; expires 1y; }
    location /502.html { internal; root /var/www; }
    error_page 502 /502.html;
}
