server {
    listen       80 default_server;
    listen       443 ssl default_server;

	ssl_certificate /etc/nginx/ssl/ideascube.crt;
	ssl_certificate_key /etc/nginx/ssl/ideascube.key;
	keepalive_timeout 0;

    server_name _;
    rewrite ^ http://{{ fqdn }};
}
