from .base import *  # pragma: no flakes

from tzlocal import get_localzone

ALLOWED_HOSTS = [".{{ fqdn }}", "{{ fqdn }}", "{{ hostname }}", "localhost", "127.0.0.1"]
TIME_ZONE = get_localzone().zone
DOMAIN = "{{ fqdn }}"
STAFF_HOME_CARDS = [c for c in STAFF_HOME_CARDS  # pragma: no flakes
                    if c['url'] in ['user_list', 'server:settings']]
LANGUAGE_CODE = "{{ ansible_local.config.language }}"
LANGUAGES = [("{{ ansible_local.config.language }}", "{{ ansible_local.config.language_name }}")]
BUILTIN_APP_CARDS = []
EXTRA_APP_CARDS = [{% if ansible_local.config.kalite_languages | length %}"khanacademy"{% endif %}]
CUSTOM_CARDS = [
{% if ansible_local.config.aflatoun_languages | length %}
    {"category": "learn",
     "url": "http://{{ aflatoun_fqdn }}",
     "title": "Aflatoun",
     "description": "Social and Financial Education for Children and Young People",
     "fa": "book",
     "is_staff": False
    },
{% endif %}
{% if ansible_local.config.wikifundi_languages | length %}
{% if "en" in ansible_local.config.wikifundi_languages %}
    {"category": "create",
     "url": "http://en.{{ wikifundi_fqdn }}",
     "title": "Wikifundi",
     "description": "Offline editable environment that provides a similar experience to editing Wikipedia online (in English)",
     "fa": "wikifundi",
     "is_staff": False
    },
{% endif %}
{% if "fr" in ansible_local.config.wikifundi_languages %}
    {"category": "create",
     "url": "http://fr.{{ wikifundi_fqdn }}",
     "title": "Wikifundi",
     "description": "Environnement qui vous permet de créer des articles Wikipedia hors-ligne (en français)",
     "fa": "wikifundi",
     "is_staff": False
    },
{% endif %}
{% endif %}
{% if ansible_local.config.edupi %}
    {% if ansible_local.config.language == "fr" %}
    {"category": "acces",
     "url": "http://{{ edupi_fqdn }}",
     "title": "Ressources",
     "description": "Accès à diverses ressources",
     "fa": "folder",
     "is_staff": False
    },
    {% else %}
    {"category": "access",
     "url": "http://{{ edupi_fqdn }}",
     "title": "Resources",
     "description": " Access to various resources",
     "is_staff": False
    },
    {% endif %}
{% endif %}
]
